<body>
    <main>
        <form id="login" action="/session/login" method="post" onsubmit="return validateForm()">
            <div>
                <input type="email" placeholder="Email" id="email" name="email">
            </div>
            <div>
                <input type="password" placeholder="Contraseña" id="password" name="password">
            </div>
            <div>
                <input class="boton" type="submit" value="Iniciar Sesión">
            </div>
        </form>
    </main>
</body>