<body>
    <main>        
        <div class="button-container">
            <a href="products" class="btn btn-primary">Productos</a>
            <a href="realtimeproducts" class="btn btn-secondary">Administrar Productos</a>
        </div>
    </main>
</body>