h1 {
    color: orange;
    text-align: center;
    font-weight: bold;
}

.detail {
    display: flex;
    width: 40%;
    margin-left: 20%;
    box-shadow: 0 0 2px 0 #00afef;
    border-radius: 10px;
    margin-bottom: 0.7rem;
    padding: 0.8rem;
    position: relative;

    margin: 2.5rem;
    font-size: 1rem;
}

.detail>.detail-brand, .detail-quantity , .detail-price{
    margin-right: 4.8rem;
    font-weight: bold;
}