<body>
    <main>
        <section class="products">
            <h1 class="main-title">ERROR</h1>
        </section>

        <div class="button-container">
            <a href="/" class="btn btn-secondary">Volver al inicio</a>
        </div>
    </main>
</body>