<header>
    <div class="paragraph">
        <p>Bienvenida/o {{user.first_name}} {{user.last_name}} </p>
    </div>
    <div class="nav-container">
        <nav>
            <ul>
                <li><a href="/">MI PERFIL</a></li>
                <li><a href="/api/sessions/logout">CERRAR SESIÓN</a></li>
            </ul>
        </nav>
    </div>
</header>
